<div class="container">
    <div class="row">
        <h4>Plan Id : # {{plan?.id}}</h4>
        <h4>Order Number : {{plan?.orderItem?.id}}</h4>
        <h4>Plan Type : {{plan?.planType?.name}} </h4>
    </div>
</div>

<div class="container">
    <div class="row mb-2">
        <div class="col-md-2">
            <h4>Order Details </h4>
        </div>
        <div class="col-md-4">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm ">
                <div class="col p-4 ">

                    <p class="card-text mb-auto">Metal Type : {{selectedMetalObj?.Title}} </p>
                    <p class="card-text mb-auto">Metal Amount : {{plan?.orderItem?.quantity}} </p>
                    <h4 class="mb-0">Order Price : {{calcualtedPrice?.toFixed(3)}} </h4>
                    <!-- <div class="mb-1 text-muted">Nov 12</div>
                    <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to
                        additional content.</p>
                    <a href="#" class="stretched-link">Continue reading</a> -->
                </div>
            </div>
        </div>
        <div class="col-md-4" style="display: none;">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm ">
                <div class="col p-4 ">
                    <p>{{(recentMetal$ | async)?.timestamp}}</p>
                    <p *ngFor="let item of (recentMetalList$ | async)" class="card-text mb-auto">
                        {{item.Title}} :
                        {{item.Value}} </p>

                </div>
            </div>
        </div>
    </div>

</div>

<div class="container">
    <div class="row">
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-start">
            <button type="button" (click)="onSubmitPlanSummary()" class="btn btn-primary btn-lg px-4 gap-3">Confirm
                Payment</button>

        </div>
    </div>