<div id="page">
    <!-- <app-header></app-header> -->
    <aside id="fh5co-hero">
      <div class="flexslider">
        <ul class="slides">
          <li style="background-image: url(../../assets/images/img_bg_4.jpg);">
            <div class="overlay-gradient"></div>
            <div class="container">
              <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center slider-text">
                  <div class="slider-text-inner">
                    <h1 class="heading-section">Qirat</h1>
                    <h2>Welcome to Our Precious World</h2>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </aside>
  
    <div class="row">
      <div class="container">
        <marquee behavior="slide" direction="left">
          <h4 id="Gold" class="yallow">Gold/USD: </h4>
          <h4 id="Platinum" class="gray">Platinum/USD: </h4>
          <h4 id="Palladuim" class="black"> Palladuim/USD: </h4>
          <h4 id="Silver" class="silver"> Silver/USD: </h4>
        </marquee>
      </div>
    </div>
  
    <div id="fh5co-about">
  
      <div class="container" style="display: flex;
      justify-content: center;
      align-items: center;">
        <div class="col-md-6 animate-box">
          <span>About Us</span>
          <h2>Welcome to Our Precious World</h2>
          <p>We are a US Precious Metals Investment Company, Retail Services Provider “Buy, Custody and Liquidate”</p>
          <p>QIRAT LLC Formed at Delaware on 2017, To Develop The Precious Metals Sales Lifecycle.</p>
          <p>Our Operating Systems Managing Commercial Undertakings To Enhance Precious Metals Investment Returns.</p>
        </div>
        <div class="col-md-6">
          <div id="chartdiv"></div>
        </div>
  
      </div>
    </div>
  
    <div id="fh5co-blog">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4">
            <div class="fh5co-blog animate-box">
              <a href="#" class="blog-img-holder" style="background-image: url(../../assets/images/vision.jpg);"></a>
              <div class="blog-text">
                <h3><a href="#">vision</a></h3>
                <p>Leading the Worldwide Precious Metals Retail Industry to Secure American’s Future by Providing Unique
                  Investment Plans to Make the Real World.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="fh5co-blog animate-box">
              <a href="#" class="blog-img-holder" style="background-image: url(../../assets/images/mission.jpg);"></a>
              <div class="blog-text">
                <h3><a href="#">Mission</a></h3>
                <p>We Enhance Investment Returns by Increasing Precious Metals Sales Ratio to Build Solid Assets & Real
                  Values.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="fh5co-blog animate-box">
              <a href="#" class="blog-img-holder" style="background-image: url(../../assets/images/strategy.jpg);"></a>
              <div class="blog-text">
                <h3><a href="#">Strategy</a></h3>
                <p>We Incorporate Time into Our Operating Systems using Win-Win Tactics Shaped by Commercial Undertakings
                  as Investment Pool to Enrich Our Community.</p>
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  
    <div id="fh5co-blog">
      <div class="container">
        <div class="row animate-box">
          <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
            <h2>How it works</h2>
          </div>
        </div>
        <div class="row row-padded-mb">
          <div class="col-md-4 animate-box">
            <div class="fh5co-event">
              <div class="date text-center"><img src="../../assets/images/OpenAccount.png" alt="OpenAccount" width="100"
                  height="100">
              </div>
              <h3><a href="#">Open your account</a></h3>
              <p>Fill Our Registration Form</p>
            </div>
          </div>
          <div class="col-md-4 animate-box">
            <div class="fh5co-event">
              <div class="date text-center"><img src="../../assets/images/Pick.png" alt="OpenAccount" width="100"
                  height="100"></div>
              <h3><a href="#">Pick your investment plan</a></h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
                blind texts.</p>
            </div>
          </div>
          <div class="col-md-4 animate-box">
            <div class="fh5co-event">
              <div class="date text-center"><img src="../../assets/images/surrender.png" alt="OpenAccount" width="100"
                  height="100">
              </div>
              <h3><a href="#">Surrender at plan maturity</a></h3>
              <p>Liquidate your precious metals credit & plan rewards at maturity.</p>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  
    <div id="fh5co-blog">
      <div class="container">
        <div class="row">
  
          <div class="col-lg-6 col-md-6">
            <div class="fh5co-blog animate-box">
              <a href="#" class="blog-img-holder" style="background-image: url(../../assets/images/project-2.jpg);"></a>
              <div class="blog-text">
                <div><img src="../../assets/images/investor.png" alt="OpenAccount" width="50" height="50"
                    style="margin-right:20px"><span style="font-size: 24px;">Investor Plan </span></div>
  
  
                <p>Your Opportunity to Invest in Bulk Generic Bullion while Avoiding the Premiums that Bars and Coins
                  Carry.</p>
                <p>Bulk Generic Bullion is Available in Gold, Silver, Platinum and Palladium.</p>
                <p>Just! Commit to Purchase the Same Amount of Bulk Generic Bullion Every Year/ 3 Years & Claim Your
                  Reward. 100% First Year Profit!</p>
                <p>Investor Plan Protect Your Investments Against Market Price Fluctuations and Eliminates the Needs to
                  Closely Monitor the Market.</p>
                <p>There is No Fees to Apply. <br />There is No Sales Commission.</p>
                <p>The Minimum Investment is 1Ounce per Metal Type and You Can Pay with Credit/ Debit Card.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="fh5co-blog animate-box">
              <a href="#" class="blog-img-holder" style="background-image: url(../../assets/images/project-1.jpg);"></a>
              <div class="blog-text">
                <div><img src="../../assets/images/loyalty.png" alt="OpenAccount" width="50" height="50"
                    style="margin-right:20px"><span style="font-size: 24px;">Loyalty Plan </span></div>
  
                <p>Do You have Client Leads? <br />Are You Looking to Build Your Investments?.</p>
                <p>We are Here to Achieve Your Aspiration!</p>
                <p>Commit to Your 3 years Loyalty Plan in Bulk Generic Bullion.</p>
                <p>Pick the Type and Amount of Metal and Make Your Purchase at First Year.</p>
                <p>Invite 9 of Your Family & Friends to Enroll in Our Plans within Your 3 years Loyalty Plan & Claim Your
                  Reward.100% First Year Profit!</p>
                <p>There is No Fees to Apply. <br />There is No Sales Commission.</p>
                <p>The Minimum Investment is 1Ounce per Metal Type and You Can Pay with Credit/ Debit Card.</p>
              </div>
            </div>
          </div>
  
  
        </div>
      </div>
    </div>
  
  
    <div id="fh5co-gallery" class="fh5co-bg-section">
      <div class="row text-center">
        <h2><span>Instagram Gallery</span></h2>
      </div>
      <div class="row">
        <div class="col-md-3 col-padded">
          <a href="#" class="gallery" style="background-image: url(../../assets/images/project-1.jpg);"></a>
        </div>
        <div class="col-md-3 col-padded">
          <a href="#" class="gallery" style="background-image: url(../../assets/images/project-2.jpg);"></a>
        </div>
        <div class="col-md-3 col-padded">
          <a href="#" class="gallery" style="background-image: url(../../assets/images/project-5.jpg);"></a>
        </div>
        <div class="col-md-3 col-padded">
          <a href="#" class="gallery" style="background-image: url(../../assets/images/project-4.jpg);"></a>
        </div>
      </div>
    </div>
  
    <footer id="fh5co-footer" role="contentinfo" style="background-image: url(../../assets/images/img_bg_4.jpg);">
      <div class="overlay"></div>
      <div class="container">
        <div class="row row-pb-md">
          <div class="col-md-3 fh5co-widget">
            <h3>About Education</h3>
            <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci
              architecto culpa amet.</p>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1 fh5co-widget">
            <h3>Learning</h3>
            <ul class="fh5co-footer-links">
              <li><a href="#">Course</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Terms</a></li>
              <li><a href="#">Meetups</a></li>
            </ul>
          </div>
  
          <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1 fh5co-widget">
            <h3>Learn &amp; Grow</h3>
            <ul class="fh5co-footer-links">
              <li><a href="#">Blog</a></li>
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Testimonials</a></li>
              <li><a href="#">Handbook</a></li>
              <li><a href="#">Held Desk</a></li>
            </ul>
          </div>
  
          <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1 fh5co-widget">
            <h3>Engage us</h3>
            <ul class="fh5co-footer-links">
              <li><a href="#">Marketing</a></li>
              <li><a href="#">Visual Assistant</a></li>
              <li><a href="#">System Analysis</a></li>
              <li><a href="#">Advertise</a></li>
            </ul>
          </div>
  
          <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1 fh5co-widget">
            <h3>Legal</h3>
            <ul class="fh5co-footer-links">
              <li><a href="#">Find Designers</a></li>
              <li><a href="#">Find Developers</a></li>
              <li><a href="#">Teams</a></li>
              <li><a href="#">Advertise</a></li>
              <li><a href="#">API</a></li>
            </ul>
          </div>
        </div>
  
        <div class="row copyright">
          <div class="col-md-12 text-center">
            <p>
              <small class="block">&copy; 2016 Free HTML5. All Rights Reserved.</small>
              <small class="block">Designed by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a> Demo
                Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a> &amp; <a href="https://www.pexels.com/"
                  target="_blank">Pexels</a></small>
            </p>
          </div>
        </div>
  
      </div>
    </footer>
  </div>
  
  <div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
  </div>
  