<!-- <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Pricing</h1>
    <p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
  </div> -->
  <ng-container *ngIf="planOrders?.plan?.planTypeId == 1">
    <app-investor-plan [plan]="planOrders?.plan" [metalName]="metalName"></app-investor-plan>
  </ng-container>

  <ng-container *ngIf="planOrders?.plan?.planTypeId == 2">
    <app-loyality-plan [planOrder]="planOrders"></app-loyality-plan>>
  </ng-container>
  