
  
  <div class="container mt-3">
    <div class="row">
      <h4>Plan Id : # {{planOrder?.plan?.id}}</h4>
      <h4>Plan Type : {{planOrder?.plan?.planType?.name}} </h4>
    </div>
    </div>

    
  <div class="container mt-3">
  
    <!-- <div class="row">
  
      <div class="col-lg-4 mb-4 grid-margin">
  
        <div class="card h-100">
  
            <h4 class="card-header">Card Title</h4>
  
            <div class="card-body">
  
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
  
            </div>
  
            <div class="card-footer">
  
              <Button class="btn btn-primary">Learn More</Button>
  
            </div>
  
        </div>
  
      </div>
  
      <div class="col-lg-4 mb-4 grid-margin">
  
        <div class="card h-100">
  
            <h4 class="card-header">Card Title</h4>
  
            <div class="card-body">
  
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus commodi similique totam consectetur praesentium molestiae atque exercitationem ut consequuntur, sed eveniet, magni nostrum sint fuga.</p>
  
            </div>
  
            <div class="card-footer">
  
              <Button class="btn btn-primary">Learn More</Button>
  
            </div>
  
        </div>
  
      </div>
  
      <div class="col-lg-4 mb-4 grid-margin">
  
        <div class="card h-100">
  
            <h4 class="card-header">Card Title</h4>
  
            <div class="card-body">
  
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
  
            </div>
  
            <div class="card-footer">
  
              <Button class="btn btn-primary">Learn More</Button>
  
            </div>
  
        </div>
  
      </div>
  
  </div> -->
  
    <div class="row">
  
      <div class="col-sm-12 mt-3">
  
        <div class="card">
  
          <div class="card-body">
  
            <h3 class="card-title">Invited Users</h3>
  
            <table class="table table-striped">
  
              <thead>
  
              <tr>
  
                <th scope="col">#</th>
  
                <th scope="col">User Email</th>
  
                <th scope="col">Date</th>
  
                <th scope="col">Status</th>

                <th scope="col">Action</th>
  
              </tr>
  
              </thead>
  
              <tbody>
  
                <tr *ngFor="let invitation of planOrder?.invitations ;let i = index">
  
                    <td>{{i + 1}}</td>
      
                    <td>{{invitation?.email}}</td>
      
                    <td>{{invitation?.createdDate | date: 'dd/MM/yyyy'}}</td>
      
                    <td>{{invitation?.status}}</td>
                    <td> </td>
      
                  </tr>
            <ng-container *ngIf="planOrder?.invitations?.length == 0" >
                <tr>
                    <td colspan="5" align="center"> No Users Found</td>
  
                </tr>  
            </ng-container>
              
              <!-- <tr>
  
                <td>1</td>
  
                <td>Russia</td>
  
                <td>17,075,200 </td>
  
                <td>36,624,199</td>
                <td></td>
  
              </tr>
  
              <tr>
  
                <td>2</td>
  
                <td>Canada</td>
  
                <td>9,976,140 </td>
  
                <td>146,989,754</td>
                <td></td>
              </tr>
  
              <tr>
  
                <td>3</td>
  
                <td> United States </td>
  
                <td>9,629,091 </td>
  
                <td>324,459,463</td>
                <td></td>
              </tr>
  
              <tr>
  
                <td>4</td>
  
                <td>China</td>
  
                <td>9,596,960</td>
  
                <td>1,409,517,397</td>
                <td></td>
              </tr> -->
  
              </tbody>
  
            </table>
  
          </div>
  
        </div>
  
      </div>
  
    </div>
  
  </div>