<div class="d-flex justify-content-center mt-4">
  <div class="col-8 greyBack">
  <form class="needs-validation" novalidate="" [formGroup]="planForm" (ngSubmit)="onSubmitOrder()">

    <div class="form-row">
      <div class="col-md-6 mb-3">
          <label for="validationTooltip04">The Selected Plan </label>
          <select class="custom-select" (change)="changePlanType($event.target)" [attr.disabled]='true'  formControlName="planTypeId" >
            <option  disabled value="">Please select .... </option>
            <option id="planTypeId" *ngFor="let item of planTypes" value="{{item?.id}}">{{item.name}}</option>
          </select>          
        </div>
      
    </div>

    <div class="form-row">
      <div class="col-md-6 mb-3">
          <label for="validationTooltip04">The Selected metal Type </label>
          <select class="custom-select" (change)="changeMetalType($event.target)" [attr.disabled]='true' formControlName="metalTypeId">
            <option value="" disabled>Please select ... </option>
            <option id="metalTypeId"  *ngFor="let item of dd" value="{{item?.Index}}">{{item.Title}}</option>
          </select>
          <div class="invalid-tooltip">
            Please select a valid state.
          </div>
        </div>
    </div>
   
    <div class="form-row flex-column mb-3">
      <div class="col-md-6  ">
          
          <label  for="validationTooltip04">Select Amount </label>
          
          <div class="invalid-tooltip">
            Please select a valid state.
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <label class="radio-inline">
              <input type="radio" [value]="'Ounce'" [attr.disabled]='true' formControlName="measurementType"> Ounce
            </label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <label class="radio-inline">
                <input type="radio" [value]="'Bar'" [attr.disabled]='true' formControlName="measurementType"> Bar
              </label>
            </div>
        </div> 
        <div class="col-md-3">
          <label class="form-label" for="typeNumber">Quantity</label>
          <input type="number" id="amount" value="0"  formControlName="amount" class="form-control" />
          <span class="text-danger" 
                *ngIf="planForm.get('amount').invalid 
                  && planForm.get('amount').errors['min']">
                  Amount for this plan Can't be less than {{this.currentOrder.quantity}}
              </span>
        </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
          <label for="validationTooltip04">Total Coast :   </label>
          <input type="number" id="totalPrice"  value="0" [attr.disabled]="true" formControlName="totalPrice" class="form-control" />
        </div>
    </div>
    <div class="form-row">
      <div class="col-md-6">
      <div class="form-group form-check">
          <input
            type="checkbox"
            formControlName="acceptTerms"
            class="form-check-input"
            
          />
          <label for="acceptTerms" class="form-check-label"
            >I have read and agree to the Terms</label
          >
        </div>
      </div>
    </div>
    <!-- <button [disabled]="planForm.invalid" class="btn btn-primary" type="submit">Submit form</button> -->
    <button [disabled]="planForm.invalid" class="btn btn-primary" type="submit">Submit form</button>
  </form>
  </div>
</div>